<% @refuges.each do |refuge| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
      <h3><%= link_to refuge.name, refuge_path(refuge) %></h3>
      <p><%= refuge.likes.count %> <%= (refuge.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  </div>
</div>
<% end %>
